// Block: hero
@use "../../../styles/variables" as *;

.hero {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: $spacing-12;
  padding-bottom: $spacing-4;
  padding-top: $spacing-4;
  margin-left: 24px;
  
  @media (min-width: $breakpoint-md) {
    margin-bottom: 0;
    min-height: $hero-block-height-desktop;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $spacing-12;
  }

  &__title {
    font-size: $font-size-sm;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    // font-size: $font-size-sm;
    margin-bottom: $spacing-6;
    font-size: $font-size-xs;
    color: $color-neutral-500;
  }

  &__meta {
    font-size: $font-size-xs;
    font-family: $font-mono;
    color: $color-neutral-400;

    &-line {
      display: block;
      padding-top: $spacing-1;
    }
  }
}
